body {
  font-family: Helvetica, sans-serif;
  background-color: rgb(238, 238, 238);
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  color: rgb(255, 255, 255);
  background-color: rgb(102, 102, 102);
}

hr {
  height: 10px;
}
