@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

:root {
  --clr-primary: #f6f7f8;
  --clr-green: #86d862;
  --clr-gray: #e0e0df;
  --clr-blue: #05a2d3;
  --clr-withe: #fff;
}

body {
  font-family: "Open Sans", sans-serif;
}

.main {
  display: flex;
  margin: 5rem;
  border: 1px solid;
  border-radius: 15px;
  box-shadow: 3px 10px 20px #888888;
  overflow: hidden;
}

.section {
  width: 50%;
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 40px;
  padding: 80px;
}

.main .img {
  width: 50%;
}

.main .section .title {
  font-size: 38px;
}

.main .section .button-units {
  display: flex;
  justify-content: space-around;
  font-size: 22px;
  margin-top: 40px;
}

.main .section .button-units .btn-grean {
    background-color: var(--clr-green);
    border-radius: 10px;
    width: 230px;
    height: 50px;
}

.main .section .button-units .btn-grey{
    background-color:var(--clr-gray);
    border-radius: 10px;
    width: 200px;
    height: 50px;
}

.main .section .container {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.main .section .container #gender, #age {
    width: 180px;
    height: 30px;
}

.main .section .container #weight {
    width: 400px;
}

.main .section .container #feet, #inches {
    width: 220px;
    border-radius: 5px;
}

.main .section .button-calculate {
    background-color: var(--clr-blue);
    color: var(--clr-withe);
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    box-shadow: 3px 10px 20px #888888;
    margin-top: 50px;
    height: 50px;
}