body {
  display: grid;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
  grid-template-columns: 100px auto;
  gap: 10px;
}

header {
  grid-area: header;
}
aside {
  grid-area: aside;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}

header,
aside,
main,
footer {
  background-color: rgb(181, 216, 255);
  border-radius: 3px;
  padding: 5px 10px;
}

aside ul {
  list-style-type: none;
  margin: 0px;
  padding: 5px;
}

a {
  display: block;
  padding: 5px 0px;
  color: rgb(86, 40, 129);
  text-decoration: none;
}

header nav {
  display: inline-block;
  vertical-align: middle;
  margin-top: 8px;
  list-style-type: none;
}

header nav li {
  display: inline;
  list-style: none;
}

header nav li a {
  text-decoration: none;
  color: rgb(53, 100, 153);
  padding: 5px 15px;
}

@media (max-width: 500px) {
  body {
    display: grid;
    grid-template-areas:
      "header header"
      "aside aside"
      "main main"
      "footer footer";
  }
}
