html {
    font-family: Helvetica, sans-serif;
    color: rgb(51, 51, 51) ;
}

body {
    background-color: rgb(238, 238, 238);
}

article {
    float: left;
    width: 66%;
}

img {
    width: 750px;
    height: 500px;
}

aside {
    float: right;
    width: 33%;
}