@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");

main { 
    max-width: 250px;
    border: 2px solid black;
    border-radius: 3%;
    background-color: lightgrey;
    display: flex;
}