html {
  font-family: Helvetica, sans-serif;
}

body {
  background-color: rgb(238, 238, 238);
  margin: 0px;
  height: 600px;
}

.card {
  background-color: rgb(255, 255, 255);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5);
  position: absolute;
  overflow: hidden;
}

a {
  background-color: rgb(0, 153, 0);
  border-radius: 5px;
  border: 2px solid rgb(0, 102, 0);
  padding: 7px 10px;
  color: white;
  display: block;
  text-align: center;
  margin-bottom: 30px;
  cursor: pointer;
  outline: none;
  width: fit-content;
  float: right;
  margin-right: 30px;
}

img {
  max-width: 100%;
  display: block;
  /* position: absolute; */
  /* za 100% */
}

h3 {
  font-family: Georgia, serif;
  font-size: 1em;
  line-height: 1.2;
}

p,
h3 {
  margin: 30px;
}
