
html {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1{
    font-family: Georgia, serif;
}

blockquote {
    font-style: italic;
    border-color: rgb(221,221,221);
}